.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortButton {
  background: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.sortButton:hover {
  transform: scale(1.25);
}

.sortButtonActive {
  color: red;
  border-bottom: 3px solid red;
}

.sortByDate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sortDataText {
  padding-right: 10px;
}

.sortDateButton {
  background: url(../../img/arrowUp.svg);
  border: none;
  padding: 0 5px 0 5px;
  width: 15px;
  height: 15px;
  background-position: center;
  cursor: pointer;
  padding-top: 5px;
  transition: transform 0.5s;
  background-size: contain;
}

.sortDateButton:last-of-type {
  transform: rotate(180deg);
}

.sortDateButtonActive {
  border: 1px solid red;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .sort-menu-buttons {
    display: flex;
    flex-direction: column;
  }
  .sort-by-date {
    flex-direction: column;
  }
}