.task {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 10px 0 10px 0;
}

.taskText {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  margin-left: 10px;
  width: 80%;
  text-align: left;
}

.taskText::placeholder  {
  color: rgb(0, 0, 0);
}

.taskText:focus {
  border: 1px solid black;
  border-radius: 15px;
}

.taskDate {
  margin-left: 10px;

}

.deleteTask {
  margin-left: 10px;
  background:url(../../../../img/delete.png) ;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.deleteTask:hover {
  transform: scale(1.1);
}
