.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageButton {
  cursor: pointer;
  background-color: rgba(221, 235, 227, 0.26);
  border: 1px solid rgb(177, 171, 171);
  padding: 5px 10px;
  margin-right: 1px;
}

.pageButton:first-of-type {
  border-radius: 10% 0 0 10%;
}

.pageButton:last-of-type {
  border-radius: 0 10% 10% 0;
}

.pageButtonActive {
  background-color: blanchedalmond;
}